.main {
    min-height: 100vh;
    width: 100vw;

    &--home, &--page-not-found {
        @extend .main;
    }

	&--home {
        background-color: #F7F8FD;
		min-height: 100vh;
        
        display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 90px;

        &__main-section {
            min-height: 700px;
            width: 825px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;


            &__container {
                width: 100%;
                min-height: 600px;
				display: grid;
				place-items: center;
            }
        }
	}

	&--new-feedback {
		width: max-content;
		margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 72px;
		padding-top: 24px;
	}

	&--page-not-found {

		display: flex;
		flex-direction: column;
		align-items: center;
		background: #F7F8FD;
		justify-content: space-between;
		padding: 40px 0;


		&__title {
			color: #3A4374;
			font-size: 64px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
		}

		&__return-home-link {
			color: #3A4374;
			font-size: 20px;
			font-weight: 400;
			width: max-content;
			height: 40px;
			border-radius: 10px;
			text-decoration: none;

			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;

			&::after,
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				bottom: -8px;
				right: 0;
				background-color: #F2F4FE;
				transition: 0.5s ease width;
			}

			&::before {
				left: 0;
				right: auto;
				bottom: auto;
				top: -8px;
			}

			&:hover::after,
			&:hover::before {
				width: 0;
			}
		}
	}
}
