.loading {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation: 1s infinite spin linear;
  border: 20px solid #F2F4FE;
  border-top-color: #AD1FEA;
  margin: auto;
}



@keyframes spin {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}