@use 'Styles/utilities' as *;

body {
	width: 100vw;
	min-height: 100vh;
	background-color: #F7F8FD;
	overflow-x: hidden;
}

input,
textarea {
	width: 456px;
	height: 48px;
	border-radius: 5px;
	background-color: #F7F8FD;
	border: 1px solid transparent;
	padding: 13px 0 13px 24px;
	color: #3a4374;
	font-size: 15px;
	font-weight: 400;
	transition: 0.5s ease border;

	&:focus-visible {
		border-color: #4661E6;
	}

	&.error {
		border-color: #D73737;
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 255, 255, 0.3);
}
